

.heading{
text-align: center;
font-size: 3rem;
padding-top: 5rem;
margin: 2rem 0;
position: relative;
}
.heading::after{
    content:'';
    position: absolute;
    bottom: -1rem; left: 50% ;
    transform: translateX(-50%);
    height: 0.3rem;
    width: 60% ;
    background: #003300;
}

*{
    margin: 0;
    box-sizing: border-box;
    transition: all .1s linear;
    font-family: 'Exo 2', sans-serif ;
   
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

#header{
    font-size: 1.5rem;
    font-weight: lighter;
    background-image:linear-gradient(#99ffcc,#ccffe6) ;
       
}

.fa-user{
    font-size: 2rem;
    cursor: pointer;
    color: #000000;
}

.fa-bars{
    font-size: 2rem;
    z-index: 10000;
    cursor: pointer;
}


.fa-shopping-cart{
    font-size: 2rem;
    cursor: pointer;
    color: #000000;
  
   
} 
#search{
    background:#ccffe6;
    width: 100vw;
    height: 10vh;
    
}

#search form{
    padding: 2rem;
    justify-content: center;
}

#search .form-control{
    width: 30rem;
    height: 3rem;
    font-size: 1.5rem;
}
#search button{
    margin-top: -0.5rem;
    font-size: 2rem;
    background: transparent;
    border: none;

}

#search button:hover{
    font-weight: bolder;
    color: white;
    background: #006633;
}
nav li a{
    color:black;
}
nav li a:hover{
    background: #003300;
    border-radius: 5rem;
	color: #fff;
}


#home {
    min-height: 100vh;
    width: 100vw;
   background:radial-gradient(#fff,#80ffbf);
}

#home .img_home{
	max-width: 100%;
    margin-top: 10rem;
    padding:50px;

}

.content-home{
   padding:15rem;
 
}
.content-home h1{
    text-align: left;
	font-size: 5rem;
	line-height: 5rem;
	margin: 2rem 0;
	margin-top: 1rem;
   
}

.content-home h2{
    text-align: left;
	font-size: 2.5rem;
    align-items: center;
    font-weight: bolder;
  
}

.content-home p{
font-size: 1.5rem;
}

.btn-home{
    height: 4rem;
    width: 12rem;
    background: #339966;
    color: #fff;
    border-radius: 5rem;
    text-align:center;
    font-size: 2rem;
    line-height: 2rem;
    text-decoration:none;
    margin-left: 3.5rem;
    margin-top: 00.5rem;
    border: none;

}

.btn:hover{
    background: #003300;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
  
    
  
}


.fa-times{
    transform: translateX(27rem);
    padding-top: 1rem;
}

#promo{
    height: 50vh;
    width: 100vw;
    align-items: center;
    margin: 8rem;
}
#promo img{
    max-width: 80%;
    justify-content: space-around;
}

.caption {
    text-align-last: center;
    padding-bottom: 20px;
    padding-top: 1%;
   
    
}

.caption h2{
    margin-top: 8rem;
    text-align-last: center;
    color: #006600;
    font-size: 4rem;
    font-weight: bolder;
} 
.caption a{
    display: inline-block;
    height: 4rem;
    width: 20rem;
    background: #339966;
    color: #fff;
    border-radius: 5rem;
    text-align:center;
    font-size: 2.5rem;
    line-height: 4rem;
    text-decoration:none;
    margin-top: 1rem;
}

.caption a:hover{
    background: #003300;
    text-decoration: none;
    letter-spacing: .3rem;
}

@media (max-width:768px){
    html{
        font-size: 55%;
    }
    #home{
        padding-bottom: 4rem;
    }

    .slide{
        flex-flow: column-reverse;
    }
    .content{
        padding: 1rem;
    }
    .img{

       width:100vw;
    
    }
}



#promo2{

    margin-top: 10rem;
    height: 50vh;
    width: 100vw;
    background: url(../img/d.jpg) no-repeat;
    background-size: cover;  
}

.caption2{

text-align-last: center;
padding-bottom: 20px;
padding-top: 1%;

}

.caption2 h2{
margin-top: 12rem;
text-align-last: center;
color: brown;
font-size: 3rem;
margin-left: 4rem;
font-weight: bolder;
} 
.caption2 a{
display: inline-block;
height: 4rem;
width: 20rem;
background: #339966;
color: #fff;
border-radius: 5rem;
text-align:center;
font-size: 2.5rem;
line-height: 4rem;
text-decoration:none;
margin-top: 1rem;
}

.caption2 a:hover{
background: #003300;
text-decoration: none;
letter-spacing: .3rem;
}


#footer{
    background: #111;
    height: auto;
   padding: 2rem 0;
   width: 100vw;
   text-align-last: center;
   color: white;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}

.footer-content p{
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;   
}

.socials li{
    margin: 0 10px;

}

.socials a{
    text-decoration: none;
    color: white;
}

.socials a i{
    font-size: 2rem;
    transition: color .4s ease;
}

.socials a:hover{
    color: aqua;
}

/*-----sign-in---*/

#sign-in{
   min-height: 100vh;
   width: 100vw;
   background:radial-gradient(#fff,#80ffbf);   
   text-align: center;


}
#sign-in .col{
    max-width: 100%;

}

.form-box{
    margin: 10rem;
	width: 300px;
	height: 400px;
	position: relative;
	padding:20px 0;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
	background:#fff;
}
#sign-in .sigin_img{
    margin-top: .5rem;
    max-width: 100%;
}

.button-box{
	width: 220px;
	margin: 25px auto;
	position: relative;
	text-align-last:center;
	
	
}

.login h3{
	padding: 10px 30px;
	background: transparent;
	border: 0;
	outline: none;
	text-align-last: center;
    align-items: center;
    font-weight: bold;
}
.input-group{
	top:150px;
	position: absolute;
	width: 200px;
	transition: 0.5s;
	margin-left: 40px;
    margin-top: -5rem;
   
}


.input-field{
	width: 100%;
	padding: 15px 0;
	margin: 2px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
    
   

}


.input-group a{
 margin-top: 20px;
 font-size: 10px;
 color: #999;
 text-decoration: none;
}


.submit-btn{
    height: 4rem;
    width: 25rem;
    background: #339966;
    color: #fff;
    font-size: 2rem;
    text-decoration:none;
    text-align-last: center;
    border: none;
    margin-top: 1rem;

}
.submit-btn:hover{
	background:#003300;
	color:#fff; 
}

.photo img{
    max-width: 100%;
	padding: 50px;
}

/*----product.html----*/



.page-btn{
	margin: 3rem ;
    margin-bottom: 5rem;
   text-align-last: center;
}

.page-btn a{
	display: inline-block;
	border: 1px solid lightgreen;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
    text-decoration:none;
    color: black;
    font-size: 14px;
}

.page-btn a:hover{
	background:#003300;
	color: #fff;
}

#services {
   min-height: 100vh;
   width: 100vw;
   background:radial-gradient(#fff,#80ffbf);
}
#services  .img_services{
    max-width: 80%;
    margin: 5rem;
    max-height: 100%;
}

#promo-two{
    margin-top: -25rem;
}


#promo-two img{
    width: 60%;
    height: 65%;
}


#opt ul{
    height: 100%;
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-flow:column;
    background: #99ffcc; 
    text-decoration: none;
}    



#opt a{
    margin: 3rem;
    display: block;
    height: 9rem;
    width: 21rem;
    background: #339966;
    color: #fff;
    text-align-last: center;
    font-size: 4rem;
   

}

#opt a:hover{
    background: #003300;
    text-decoration: none;
    letter-spacing: .3rem;
  
   
}


#home-two {
    min-height: 90vh;
    width: 100vw;
    background: linear-gradient(to bottom,#fff,#80ffbf, #fff);
}
.col-2{
    text-align-last: left;
	flex-basis: 50%;
	min-width: 20rem;
	margin-top: 30rem; 	
}


#home-two .col-2 img{
    margin-bottom: 5rem;
	width: 100vw;
    max-width: 100%;
    padding: 80px;
    
    
    

}
.col-2 h1{
    text-align: left;
	font-size: 4rem;
	line-height: 5rem;
	margin: 2rem 0;
	margin-top: 1rem;
    margin-left: 3rem;
}

.col-2 h2{
    text-align: left;
	font-size: 2.5rem;
    margin-left: 4rem;
    align-items: center;
    font-weight: bolder;
  
}

.col-2 p{
font-size: 1.5rem;
margin-left: 3rem;
}

.bttn{
    height: 4rem;
    width: 13rem;
    background: #339966;
    color: #fff;
    border-radius: 5rem;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    text-decoration:none;
    margin-left: 15rem;
    margin-top: 00.5rem;
    text-align-last: center;
    border: none;

}

.bttn:hover{
    background: #003300;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
  
}

#profile{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#profile form .form-control{
    height: 4rem;
    font-size: 1.5rem;
}
#profile .Update-btn{
    width: 10rem;
    height: 4rem;
    font-size: 2rem;

}


.dropdown #dropdownMenu2  {
 background: none;
 border: none;
 outline: none;
 color: black;
 width: 5.5rem;
 text-decoration: none;
}

.dropdown .dropdown-item {
    font-size: 14px;
    text-decoration: none;
}
.dropdown .dropdown-item:hover{
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 0;
    font-weight: bold;  
}

main{
    margin-left: 30rem;
    padding: 0;
}

.sidenav{
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#333333;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a{
    padding: 10px 8px 6px 16px;
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    display: block;
    font-weight: lighter;
}
.sidenav i{
    margin: 1rem;
    color: white;
}
.sidenav img{
    margin-bottom: 6rem;
}
.sidenav h1{
 color: white;
 margin-top: -10rem;
 margin-bottom: 2rem;
 margin-left: 10rem;
 
}

.sidenav a:hover {
    font-weight: bold;
  }

@media screen and (max-width: 200px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.column{
  float: left;
  width: 25%;
  padding: 0 10px;
}
#cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
   
}

#cards:after {
    display: table;
    clear: both;
  }
    .card1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    background-color: #b3cccc;
  }

  .card2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    background-color:  #c6ecc6;
  }
  .card3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    background-color: #9fdfbf;
    
  }


  .card4{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    height: 5rem;
    width: 20rem;
    text-align: center;
    background-color: #ffcccc;
    margin: 2rem;
    justify-content: center;
   
  }

  .card5{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    height: 5rem;
    width: 20rem;
    text-align: center;
    background-color: #ffccb3;
    margin: 2rem;
    justify-content: center;
}

 
 
  .card1 a{
      font-size: 2rem;
      font-weight: lighter;
      color: #006666;
  }

  .card2 a{
    font-size: 2rem;
    font-weight: lighter;
    color: #006666;
}

.card3 a{
    font-size: 2rem;
    font-weight: lighter;
    color: #006666;
   
}

.card4 a{
     margin-top: 5rem;
    font-size: 2rem;
    font-weight: lighter;
    color: #006666;
}

.card5 a{
    font-size: 2rem;
    font-weight: lighter;
    color: #006666;
}
.card1 a:hover{
   font-weight: bold;
  
}

.card2 a:hover{
    font-weight: bold;
  
}

.card3 a:hover{
    font-weight: bold;
}

.card4 a:hover{
    font-weight: bold;
}

.card5 a:hover{
    font-weight: bold;
}

.box_cards{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 50px;
    text-align: center;
    background-color: beige;
    align-items: center;
    justify-content: center;
    height: 30rem;
    width: 35rem;  
}

.box_cards h2 {
    font-weight: bold;
    margin-top: -2rem;
    margin-bottom: 4rem;
    text-align-last: center;
}


  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }


  .main__container{
      margin-top: 5rem;
      margin-left: 2rem;
      text-align: center;
      justify-content: center;
  }

 .container_fluid .col-12{
     font-size: 1.5rem;
     text-align-last: center;
 }
 .text-center{
     text-align-last: center;
 }

 #contentPanel .col-12 .btn-primary{
     border-radius: 1px;
     border: none;
     font-weight: normal;
     padding: 5px;
     font-size: 2rem;

    
 }
 /*product*/

 #product{
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 100vw;
}

.product-container{
    width:100% ;
    margin: 1rem;
    display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around; 
    
}
.product-card{
    height: 50rem;
    width: 30rem;
    margin: 3.5rem auto;
    box-shadow: 0 0 .3rem rgba(0, 0, 0,.5);
    border-radius: 0.5rem;
    position: relative;
}

#product .image{
    height: 50%;
    width: 100%;    
}
#product .image img{
    height: 220px;
    width: 220px;
    object-fit: cover;
}
.product-card:hover{
    transform: translateY(-5px);
}
#product .content{
    padding: 2.5rem;
    height: 30%;
    width: 100%;
    text-align: center;
}
#product.content h3{
    font-size: 1.5rem;
    color: black;

}
#product .price{
    font-size: 2rem;
    color: red;
}

#product .content .btn-addcart  {
    height: 3.5rem;
    width: 10rem;
    background: #339966;
    text-align:center;
    font-size: 2rem;
    text-decoration:none;
    border: none;
    margin-top: 1rem;
    line-height: 4rem; 
    outline: none;   
}

#product .content .btn-addcart i{
    color: white;
}

#product .content .btn-addcart:hover{
    background: #003300;
}
#product .content input{
    height: 3rem;
    width: 25rem;
    align-items: center;
    font-size: 1.5rem;
}

#product .content label{
    font-size: 1.5rem;
}

#product-category{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100vw;
}

.category-cont{
    width: 100%;
    margin: 5rem;
}

.category-slider{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category-card{
    height: 20rem;
    width: 20rem;
    margin: 3.5rem;
    box-shadow:  0 0 5rem rgba(0,255,0,0.3);
    border-radius: 10rem ;
    position: relative;
}
.category-img{
    height: 75%;
    width: 100%;
    }
    
    .category-img img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .content-cat{
        height: 25%;
        width: 100%;
        text-align: center;
    }
    
    .content-cat a{
        font-size: 2rem;
    
    }
    
    .content-cat a:hover{
        color: white;
        background: #003300;
    }
    
    .category-card:hover{
        transform: translateY(-5px);
    }
    
    
    .btttn{
        height: 4rem;
        width: 13rem;
        background: #339966;
        color: #fff;
        border-radius: 5rem;
        align-items: center;
        font-size: 2rem;
        line-height: 2rem;
        text-decoration:none;
        margin-top: 00.5rem;
        text-align-last: center;
       
    
    }
    
    .btttn:hover{
        background: #003300;
        text-decoration: none;
        color: #fff;
        font-weight: bolder;
      
    }
#cart-page{
    margin: 100px;
    font-size: 2rem;
        
}   

.cart_card{
    height: 20rem;
    width: 20rem;
    margin-left:1rem;
}

.cart_card .image{
    height: 60%;
    width: 60%;
    margin-top: 1rem;
}

.cart_card .card-title{
    margin-top: 2rem;
    font-size: 2.5rem;
}

.cart-sum{
    text-align: right;
    font-weight: bold;
    font-size: 3rem;
    color: tomato;
}

form input .cart-qty{
    width: 20rem;
}



#profile_order{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 8rem;

}

#nav-tab{
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border: none;
    background: #339966


}

#nav-tab button{
    background: transparent;
    border-bottom: none;
    border: none;
}

#nav-tabContent{
 height: 100%;   
 padding: 10rem;
 font-size: 1.5rem;

 
}

#nav-tab button:hover{
    background: white;
}

#custpage{
    width: 100vw;
    height: 50vh;
    background: linear-gradient(#99ffcc,#ccffe6);
   
}
#custpage .card{
  height: 49vh;
  background: transparent;
  align-items: center;
  justify-content: center;
  border: none;
}

.user-prof form {
    border: none;
    justify-content: center;
}
.user-prof form input{
    border: none;
    font-size: 4rem;
    color: black;
    height: 5rem;
    background: transparent;
    font-weight: bold;
    justify-content: center;
    text-align-last: center;
    margin-top: -2rem;
}

.user-prof .form-group a{
   border: none;
   outline: none;
   background: transparent;
}

.img_profile{
    width: 15%;
    align-items: center;
    margin: 3rem;

}
#checkout-page{
    margin:50px;
    font-size: 1.5rem;
    
}

.Checkout_card{
    height: 5rem;
    width: 25rem;
    align-items: baseline;
}
.checkout-sum{
    text-align:center; 
    margin:2rem; 
    font-size:2rem; 
    color: green;
}

#checkout-page .checkout_label{
    justify-content:center;
    font-size:2rem;
    margin-left: -2rem;

}
#checkout-page table{
    
    font-size: 1.5rem;
   
}

#about{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}
.about-container{
    width: 100%;
}

.about-slider{
   
    width:100% ;
    display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;   
}
.about-card{
    height: 40rem;
    width: 30rem;
    margin: 3.5rem auto;
    box-shadow:  0 0 5rem rgba(0,255,0,0.3);
    border-radius: 0.5rem;
    position: relative;
}

.image{
    margin-top: 1rem;
    height: 30%;
    width: 100%;
    justify-content: center;
    text-align-last: center;
    
}
#about .image img{
    margin-top: 1rem;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
.about-card:hover{
    transform: translateY(-5px);
}
#about .content{
    padding: 3rem;
    height: 30%;
    width: 100%;
    text-align: center;
   
}
#about .content h1{
    color:#00cc66;
}


#about .content h2{
    margin-top: 1rem;
    line-height: 3rem;
    justify-items: center;
    color: green;
  
}


.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem ; 
    margin-left: -1rem;  
}

.social li{
    margin:  10px;

}

.social a{
    text-decoration: none;
    color: #00cc99;
}

.social a i{
    font-size: 2rem;
    transition: color .4s ease;
}

.social a:hover{
    color: aqua;
}


