

.heading{
text-align: center;
font-size: 3rem;
padding-top: 5rem;
margin: 2rem 0;
position: relative;
}
.heading::after{
    content:'';
    position: absolute;
    bottom: -1rem; left: 50% ;
    transform: translateX(-50%);
    height: 0.3rem;
    width: 60% ;
    background: #003300;
}

*{
    margin: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    font-family: 'Exo 2', sans-serif ;
   
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    color: black;
    background-image:linear-gradient(#99ffcc,#ccffe6) ;
    
    
    
}

.fa-user{
    font-size: 2rem;
    cursor: pointer;
    color: #000000;
}

.fa-bars{
    font-size: 2rem;
    z-index: 10000;
    cursor: pointer;
}


.fa-shopping-cart{
    font-size: 2rem;
    cursor: pointer;
    color: #000000;
  
   
} 

.search-container{
    display: inline;
    position: relative;
  
}

#search{
    position: absolute;
    top:-2rem; right: 0.8rem;
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.5rem;
    padding: 0.1rem;
    border: none;
    outline: none;
    border-radius: 5rem;
    
}

#search:hover, :focus{
    width: 25rem;
    

}

.fa-search{
    top: -1.3rem; right: 1.5rem;
    position: absolute;
    
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
    color: #333;
}



.navbar{
    position:fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    padding: 0;
    display: none;
}

.navbar ul{
    height: 100%;
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-flow:column;
    background: #99ffcc; 
}

.navbar li{
    margin: 0.5rem 0;
}

.navbar a{
    display: block;
    height: 4rem;
    width: 25rem;
    background: #339966;
    color: #fff;
    border-radius: 5rem;
    text-align:center;
    font-size: 2rem;
    line-height: 4rem;
    text-decoration:none;
}

.navbar a:hover{
    background: #003300;
    text-decoration: none;
    letter-spacing: .3rem;
  
   
}

#home {
    min-height: 100vh;
    width: 100vw;
   background:radial-gradient(#fff,#80ffbf);
}
.col-2{
    text-align-last: left;
	flex-basis: 50%;
	min-width: 20rem;
	margin-top: 25rem; 	
}


.col-2 img{
	max-width: 100%;
	padding: 50px;

}
.col-2 h1{
    text-align: left;
	font-size: 4rem;
	line-height: 5rem;
	margin: 2rem 0;
	margin-top: 1rem;
    margin-left: 3rem;
}

.col-2 h2{
    text-align: left;
	font-size: 2.5rem;
    margin-left: 4rem;
    align-items: center;
    font-weight: bolder;
  
}

.col-2 p{
font-size: 1.5rem;
margin-left: 3rem;
}

.btn{
    height: 4rem;
    width: 12rem;
    background: #339966;
    color: #fff;
    border-radius: 5rem;
    text-align:center;
    font-size: 2rem;
    line-height: 2rem;
    text-decoration:none;
    margin-left: 3.5rem;
    margin-top: 00.5rem;

}

.btn:hover{
    background: #003300;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
  
}


.fa-times{
    transform: translateX(27rem);
    padding-top: 1rem;
}

#promo{
    margin-top: -15rem;
    align-items: center;
}



.caption {

    text-align-last: center;
    padding-bottom: 20px;
    padding-top: 1%;
   
    
}

.caption h2{
    margin-top: 8rem;
    text-align-last: center;
    color: #006600;
    font-size: 3rem;
    margin-left: 4rem;
    font-weight: bolder;
} 
.caption a{
    display: inline-block;
    height: 4rem;
    width: 20rem;
    background: #339966;
    color: #fff;
    border-radius: 5rem;
    text-align:center;
    font-size: 2.5rem;
    line-height: 4rem;
    text-decoration:none;
    margin-top: 1rem;
}

.caption a:hover{
    background: #003300;
    text-decoration: none;
    letter-spacing: .3rem;
}

@media (max-width:768px){
    html{
        font-size: 55%;
    }
    #home{
        padding-bottom: 4rem;
    }

    .slide{
        flex-flow: column-reverse;
    }
    .content{
        padding: 1rem;
    }
    .img{

       width:100vw;
    
    }
}



#promo2{

    margin-top: 10rem;
    height: 50vh;
    width: 100vw;
    background: url(../img/d.jpg) no-repeat;
    background-size: cover;  
}

.caption2{

text-align-last: center;
padding-bottom: 20px;
padding-top: 1%;

}

.caption2 h2{
margin-top: 12rem;
text-align-last: center;
color: brown;
font-size: 3rem;
margin-left: 4rem;
font-weight: bolder;
} 
.caption2 a{
display: inline-block;
height: 4rem;
width: 20rem;
background: #339966;
color: #fff;
border-radius: 5rem;
text-align:center;
font-size: 2.5rem;
line-height: 4rem;
text-decoration:none;
margin-top: 1rem;
}

.caption2 a:hover{
background: #003300;
text-decoration: none;
letter-spacing: .3rem;
}


#footer{
    background: #111;
    height: auto;
   padding: 2rem 0;
   width: 100vw;
   text-align-last: center;
   color: white;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}

.footer-content p{
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;   
}

.socials li{
    margin: 0 10px;

}

.socials a{
    text-decoration: none;
    color: white;
}

.socials a i{
    font-size: 2rem;
    transition: color .4s ease;
}

.socials a:hover{
    color: aqua;
}

/*-----sign-in---*/

#sign-in{
    margin-top: -20rem;
    min-height: 100vh;
    width: 100vw;
   background:radial-gradient(#fff,#80ffbf);   
   text-align: center;


}

.form-box{
   
	width: 300px;
	height: 400px;
	position: relative;
	margin:auto;
	padding:20px 0;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
	background:#fff;


}

.button-box{
	width: 220px;
	margin: 25px auto;
	position: relative;
	text-align-last:center;
	
	
}

.login h3{
	padding: 10px 30px;
	background: transparent;
	border: 0;
	outline: none;
	text-align-last: center;
    align-items: center;
    font-weight: bold;
}
.input-group{
	top:150px;
	position: absolute;
	width: 200px;
	transition: 0.5s;
	margin-left: 40px;
    margin-top: -5rem;
   
}


.input-field{
	width: 100%;
	padding: 15px 0;
	margin: 2px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
    
   

}


.input-group a{
 margin-top: 20px;
 font-size: 10px;
 color: #999;
 text-decoration: none;
}


.submit-btn{
    height: 4rem;
    width: 25rem;
    background: #339966;
    color: #fff;
    font-size: 2rem;
    text-decoration:none;
    text-align-last: center;

}
.submit-btn:hover{
	background:#003300;
	color:#fff; 
}

.photo img{
    max-width: 100%;
	padding: 50px;
}

/*----product.html----*/

.nav-bar{
	display: flex;
	align-items: center;
	padding: 20px;
}


.nav-bar ul{
	display: inline-block;
	list-style-type: none;

}

.nav-bar ul li{
	display: inline-block;
	margin-right: 20px;
	font-size: 14px

}

.nav-bar ul li a:hover{
	background: #003300;
    border-radius: 5rem;
	color: #fff;

}


a{
	text-decoration: none;
    font-weight: bolder;
	color: #000000;
}

.page-btn{
	margin: 3rem ;
    margin-bottom: 5rem;
   text-align-last: center;
}

.page-btn a{
	display: inline-block;
	border: 1px solid lightgreen;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
    text-decoration:none;
    color: black;
    font-size: 14px;
}

.page-btn a:hover{
	background:#003300;
	color: #fff;
}

#services {
   min-height: 100vh;
   width: 100vw;
   background:radial-gradient(#fff,#80ffbf);
}
.slide img{
    margin-top: -10rem;
    height: 90vh;
    width: 90vh;
}


#services-avail{

    margin-top: 10rem;
 background: linear-gradient(to bottom,#fff, #33ccff, #ff99cc, #fff);
 
 

}
#services-avail .row{
    align-items: center;
}


#services-avail .row h2{
    margin-top: 5rem;
    text-align: center;
	font-size: 2.5rem;
    align-items: center;
    font-weight: bolder;

    
}

#services-avail .col-2 p{
font-size: 1.5rem;
margin-left: 3rem;
}

#services-avail img{
    margin-top: -20rem;
 width: 80%;
 height: 80%;

}



#caption{
    background-image: linear-gradient(to bottom right,#fff, #ff6666,#fff);
    text-align-last: center;
    padding-bottom: 30px;
    padding-top: 30px;
    
}


#caption h2{
font-size: 3rem;
color: #fff;

}


#promo-two{
    margin-top: -25rem;
}


#promo-two img{
    width: 60%;
    height: 65%;
}

#Agricomer{
    text-align-last: center;
    padding-bottom: 20px;
}


#Agricomercio h1{
    text-align-last: center;
    margin: 10rem;
    font-size: 5rem;
    align-items: center;
    justify-content: space-evenly;

}


#Agricomercio h2{
    text-align-last: center;
    margin: 10rem;
    font-size: 3rem;
    align-items: center;

}


#mission h1{
    text-align-last: center;
    margin: 10rem;
    font-size: 5rem;
    align-items: center;

}


#mission h2{
    text-align-last: center;
    margin: 10rem;
    font-size: 3rem;
    align-items: center;

}


#vision h1{
    text-align-last: center;
    margin: 10rem;
    font-size: 5rem;
    align-items: center;

}


#vision h2{
    text-align-last: center;
    margin: 10rem;
    font-size: 3rem;
    align-items: center;

}


#opt ul{
    height: 100%;
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-flow:column;
    background: #99ffcc; 
    text-decoration: none;
}    



#opt a{
    margin: 3rem;
    display: block;
    height: 9rem;
    width: 21rem;
    background: #339966;
    color: #fff;
    text-align-last: center;
    font-size: 4rem;
   

}

#opt a:hover{
    background: #003300;
    text-decoration: none;
    letter-spacing: .3rem;
  
   
}


#cart-page{
margin: 50px;
font-size: 2rem;

}

table{
    width: 100%;
    border-collapse: collapse ;
}

.cart-info{
display: flex;

}

.cart-info p{
    text-align: center;
    font-size: 1.5rem;
    margin: 4rem;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #339966;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{

    width: 50px;
    height: 30px;
    padding: 5px;

}

td a{
    margin-top: 6rem;  
}


#home-two {
    min-height: 90vh;
    width: 100vw;
    background: linear-gradient(to bottom,#fff,#80ffbf, #fff);
}
.col-2{
    text-align-last: left;
	flex-basis: 50%;
	min-width: 20rem;
	margin-top: 30rem; 	
}


#home-two .col-2 img{
    margin-bottom: 5rem;
	width: 100vw;
    max-width: 100%;
    padding: 80px;
    
    
    

}
.col-2 h1{
    text-align: left;
	font-size: 4rem;
	line-height: 5rem;
	margin: 2rem 0;
	margin-top: 1rem;
    margin-left: 3rem;
}

.col-2 h2{
    text-align: left;
	font-size: 2.5rem;
    margin-left: 4rem;
    align-items: center;
    font-weight: bolder;
  
}

.col-2 p{
font-size: 1.5rem;
margin-left: 3rem;
}

.bttn{
    height: 4rem;
    width: 13rem;
    background: #339966;
    color: #fff;
    border-radius: 5rem;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    text-decoration:none;
    margin-left: 15rem;
    margin-top: 00.5rem;
    text-align-last: center;

}

.bttn:hover{
    background: #003300;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
  
}

#review{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 40rem;
    margin-top: 20rem;
}

.heading-two{
text-align: center;
font-size: 3rem;
padding-top: 5rem;
margin: 5rem 0;
position: relative;
padding-top: 7rem;
color: green;
font-weight: bolder;

}

.heading-two::after{
    background: white;
}

.box-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.review-slider .box{
 display: flex;
 align-items: center;
 justify-content: center;


}

.comment{
    height: 15rem;
    width: 80rem;
    background-image: linear-gradient(to right, #99ffcc , #e6fffa);
    border-radius: 2% 2% 0% 40%;
    margin-bottom: 10rem;
    margin-top: 5rem;
}

.comment p{
   
    color: #333;
    font-size: 1.5rem;
    padding: 2rem;
}

.comment i{
  color: green;
  font-size: 1rem;
  padding: 0rem .5rem;
}

.comment h3{
    text-align: end;
    color: green;
    margin: .5rem 2rem;
    font-size: 2rem;
}

.comment .rating{
    margin-top: -2rem;
    margin-left: .1rem;
}

.comment .rating i{
    color: #ff6666;
}



#profile{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#99ffcc,#ccffe6);
}

.profile-container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    
}
.form-group label{
 font-size: 1.5rem;
}

.form-group input{

    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightpink;
    padding: 15px;
    font-size: 14px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.form-group a{
    margin-top: 1rem;
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid green;
    font-size: 2rem;
    background: linear-gradient(#99ffcc,#ccffe6);
    transition: all 0.3s ease;
    justify-content: right;
  

}

.form-group a:hover{
    background: #003300;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}

.form-group .sbt{
    text-align-last: center;
    justify-content: center;
    align-items: center;
}

.form-group button {
    justify-content: center;
}

.dropdown #dropdownMenu2  {
 background: none;
 border: none;
 outline: none;
 color: black;
 width: 5.5rem;
}

.dropdown .dropdown-item {
    font-size: 14px;
    text-decoration: none;
    

}

.dropdown .dropdown-item:hover{
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 0;
    font-weight: bold;
   
}

main{
    margin-left: 30rem;
    padding: 0;
}

.sidenav{
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#333333;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a{
    padding: 10px 8px 6px 16px;
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    display: block;
    font-weight: lighter;
}
.sidenav i{
    margin: 1rem;
    color: white;
}
.sidenav img{
    margin-bottom: 6rem;
}
.sidenav h1{
 color: white;
 margin-top: -10rem;
 margin-bottom: 2rem;
 margin-left: 10rem;
 
}

.sidenav a:hover {
    font-weight: bold;
  }

@media screen and (max-width: 200px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.column{
  float: left;
  width: 25%;
  padding: 0 10px;
}
#cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
   
}

#cards:after {
    display: table;
    clear: both;
  }
    .card1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    background-color: #b3cccc;
  }

  .card2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    background-color:  #c6ecc6;
  }
  .card3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    background-color: #9fdfbf;
    
  }


  .card4{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    height: 5rem;
    width: 20rem;
    text-align: center;
    background-color: #ffcccc;
    margin: 2rem;
    justify-content: center;
   
  }

  .card5{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    height: 5rem;
    width: 20rem;
    text-align: center;
    background-color: #ffccb3;
    margin: 2rem;
    justify-content: center;
}

 
 
  .card1 a{
      font-size: 2rem;
      font-weight: lighter;
      color: #006666;
  }

  .card2 a{
    font-size: 2rem;
    font-weight: lighter;
    color: #006666;
}

.card3 a{
    font-size: 2rem;
    font-weight: lighter;
    color: #006666;
   
}

.card4 a{
     margin-top: 5rem;
    font-size: 2rem;
    font-weight: lighter;
    color: #006666;
}

.card5 a{
    font-size: 2rem;
    font-weight: lighter;
    color: #006666;
}
.card1 a:hover{
   font-weight: bold;
  
}

.card2 a:hover{
    font-weight: bold;
  
}

.card3 a:hover{
    font-weight: bold;
}

.card4 a:hover{
    font-weight: bold;
}

.card5 a:hover{
    font-weight: bold;
}

.box_cards{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 50px;
    text-align: center;
    background-color: beige;
    align-items: center;
    justify-content: center;
    height: 30rem;
    width: 35rem;  
}

.box_cards h2 {
    font-weight: bold;
    margin-top: -2rem;
    margin-bottom: 4rem;
    text-align-last: center;
}


  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }


  .main__container{
      margin-top: 5rem;
      margin-left: 2rem;
      text-align: center;
      justify-content: center;
  }

 .container_fluid .col-12{
     font-size: 1.5rem;
     text-align-last: center;
 }
 .text-center{
     text-align-last: center;
 }

 #contentPanel .col-12 .btn-primary{
     border-radius: 1px;
     border: none;
     font-weight: normal;
     padding: 5px;
     font-size: 2rem;

    
 }
 /*product*/

 #product{
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 100vw;
}

.product-container{
    width:100% ;
    margin: 1rem;
    display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around; 
    
}
.product-card{
    height: 50rem;
    width: 30rem;
    margin: 3.5rem auto;
    box-shadow: 0 0 .3rem rgba(0, 0, 0,.5);
    border-radius: 0.5rem;
    position: relative;
}

.image{
    height: 50%;
    width: 100%;
    margin-top: 1rem;
    
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.product-card:hover{
    transform: translateY(-5px);
}
.content{
    padding: 3rem;
    height: 30%;
    width: 100%;
    text-align: center;
}
.content h3{
    
    font-size: 2rem;
    color: black;

}
.price{
    font-size: 2rem;
    color: red;
}

.content .btn-addcart  {
    height: 3.5rem;
    width: 10rem;
    background: #339966;
    text-align:center;
    font-size: 2rem;
    text-decoration:none;
    border: none;
    margin-top: 1rem;
    line-height: 4rem; 
    border: none;
    outline: none;   
}

.content .btn-addcart i{
    color: white;
}

.content .btn-addcart:hover{
    background: #003300;
}
.content input{
    height: 3rem;
    width: 25rem;
    align-items: center;
    font-size: 2rem;
}

.content label{
    font-size: 1.5rem;
}

#product-category{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100vw;
}

.category-cont{
    width: 100%;
    margin: 5rem;
}

.category-slider{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category-card{
    height: 20rem;
    width: 20rem;
    margin: 3.5rem;
    box-shadow:  0 0 5rem rgba(0,255,0,0.3);
    border-radius: 10rem ;
    position: relative;
}
.category-img{
    height: 75%;
    width: 100%;
    }
    
    .category-img img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .content-cat{
        height: 25%;
        width: 100%;
        text-align: center;
    }
    
    .content-cat a{
        font-size: 2rem;
    
    }
    
    .content-cat a:hover{
        color: white;
        background: #003300;
    }
    
    .category-card:hover{
        transform: translateY(-5px);
    }
    
    
    .btttn{
        height: 4rem;
        width: 13rem;
        background: #339966;
        color: #fff;
        border-radius: 5rem;
        align-items: center;
        font-size: 2rem;
        line-height: 2rem;
        text-decoration:none;
        margin-top: 00.5rem;
        text-align-last: center;
       
    
    }
    
    .btttn:hover{
        background: #003300;
        text-decoration: none;
        color: #fff;
        font-weight: bolder;
      
    }
    
 