*{
    margin: 0;
    box-sizing: border-box;
    transition: all .2s linear;   
}

body{
    overflow-x: hidden;
}

#home {
    min-height: 100vh;
    width: 100vw;
   background:radial-gradient(#fff,#80ffbf);
}

#home .img_home{
    align-items: center;
	max-width: 100%;
    margin-top: 5rem;
    margin-left: -5rem;
    padding: 50px;
}

.content-home{
   
    margin-left: -5rem;
   padding:15rem;
   text-align: center;
 
}
.content-home h1{
    font-size: 3rem;
	line-height: 3rem;
	margin: 2rem 0;
    margin-top: -8rem;
	
   
}

.content-home h2{
	font-size: 1.5rem;
    align-items: center;
    font-weight: bolder;
  
}

.content-home p{
font-size: 1.5rem;

}


#about{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}
.about-container{
    width: 100%;
}

.about-slider{
   margin:2rem;
    width:100% ;
    display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;   
}
.about-card{
    height: 30rem;
    width: 20rem;
    margin: 3.5rem auto;
    box-shadow:  0 0 5rem rgba(0,255,0,0.3);
    border-radius: 0.5rem;
    position: relative;
}

.image{
    margin-top: 1rem;
    height: 30%;
    width: 100%;
    justify-content: center;
    text-align-last: center;
    
}
#about .image img{
    margin-top: 1rem;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
.about-card:hover{
    transform: translateY(-5px);
}
#about .content{
    padding: 3rem;
    height: 30%;
    width: 100%;
    text-align: center;
   
}
#about .content h1{
    color:#00cc66;
    font-size: 2rem;
}


#about .content h2{
    margin-top: 1rem;
    line-height: 2rem;
    justify-items: center;
    color: green;
    font-size: 1.5rem;
  
}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem ; 
    margin-left: -1rem;  
}

.social li{
    margin:  10px;

}

.social a{
    text-decoration: none;
    color: #00cc99;
}

.social a i{
    font-size: 2rem;
    transition: color .4s ease;
}

.social a:hover{
    color: aqua;
}

.caption h2{
    font-size: 3rem;
    text-align-last: center;
    color: green;
}


#footer{
    background: #111;
    height: auto;
   padding: 2rem 0;
   width: 100vw;
   text-align-last: center;
   color: white;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}

.footer-content p{
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;   
}

.socials li{
    margin: 0 10px;

}

.socials a{
    text-decoration: none;
    color: white;
}

.socials a i{
    font-size: 2rem;
    transition: color .4s ease;
}

.socials a:hover{
    color: aqua;
  
}




